node_modules
vendor
.env
.git
.gitignore
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
*.md
docker-compose.yml
Dockerfile
.dockerignore
